[user]
	name = Zhu Liang
	email = zhuliangg11@gmail.com
	signingkey = 7D550FB1
[core]
	editor = nano
	autocrlf = input
	excludesfile = /Users/paradite/.gitignore_global
[push]
	default = current
[alias]
	a = add
	d = diff
	s = status
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	# list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	br = branch
	co = checkout
	ch = checkout
	ci = commit
	cim = commit -am
	cims = commit -S -am
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/paradite/.stCommitMsg
	gpgsign = true
